{
  "presets": ["@babel/preset-react"],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "minify": true,
        "transpileTemplateLiterals": false
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": ["@babel/plugin-transform-modules-commonjs"]
    }
  }
}
